@model Bib2.Models.mlib
    <style>
        Label {
            width: 20%;
            text-align: left
        }
        span {
            color: darkslateblue;
            background-color: transparent;
            font-family: "Times New Roman", Times, serif;
            font-size: 18px;
            /*display: block;*/
        }
        H2, legend {
            text-transform: none
        }
    </style>
    <div class="form-horizontal" style="padding:10px; background-color: whitesmoke">
     
        <div class="form-group">

            <div class="col-md-10 align="center" style="font-size:small; padding-left5%">
                <div align="left">
                    <fieldset>
                        <legend>
                            @Html.DisplayFor(model => model.titulo)
                        </legend>

                    </fieldset>
                </div>
                <div align="left">
                    <Label>@Html.DisplayNameFor(model => model.idLibro)</Label>
                    <span>@Html.DisplayFor(model => model.idLibro)</span>

                </div>
                <div align="left">
                    <Label>@Html.DisplayNameFor(model => model.tema)</Label>
                    <span>@Html.DisplayFor(model => model.tema)</span>

                </div>
                <div align="left">
                    <Label>@Html.DisplayNameFor(model => model.paginas)</Label>
                    <span>@Html.DisplayFor(model => model.paginas)</span>
                </div>
                <div align="left">
                    <Label>@Html.DisplayNameFor(model => model.autor)</Label>
                    <span>@Html.DisplayFor(model => model.autor)</span>
                </div>
                <div align="left">
                    @if (!string.IsNullOrEmpty(@Model.comentario))
                    {
                        <Label>@Html.DisplayNameFor(model => model.comentario)</Label>
                        <span>@Html.DisplayFor(model => model.comentario)</span>
                    }
                </div>

            </div>
        </div>
    </div>
