@model Bib2.Models.Lecturas

@{
    ViewBag.Title = "AltaLectura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
        $(document).ready(function () {
        $('#numobras').val('1');
        $('#autores').change(function (e) {
            $('#CodAutor').val($(this).val());
            $('#autor').val($(this).find("option:selected").text());
        });
    });
    </script>
<h1>Alta Lecturas</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="width:100%">
    @*<h4>Lecturas</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.titulo)</legend>
        <div class="form-group">
            <div class="col-md-10 borde-inferior" style="padding-bottom:10px">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.autor)</legend>
        <div class="form-group">
            <div class="col-md-10 borde-inferior" style="padding-bottom:10px">
                @Html.EditorFor(model => model.autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.autor, "", new { @class = "text-danger" })
            </div>
            <div id="DropDown" style="padding-left:15px">
                @Html.DropDownList("autores")
            </div>
            <div style="padding-bottom:10px; display:none">
                @Html.EditorFor(Model => Model.CodAutor, new { htmlAttributes = new { style = "width: 10%;" }, })
            </div>
        </div>
    </fieldset>
    <div style="display:flex;justify-content:space-between; width:60%;">
        <div style="width:40%">
            <fieldset style="padding-left:10px; ">
                <legend>@Html.DisplayNameFor(Model => Model.fecha_Inicio)</legend>
                <div class="form-group">
                    <div class="col-md-10 borde-inferior">
                        <input type="date" id="fecha_Inicio" name="Fecha_Inicio" value=@Convert.ToDateTime(Model.fecha_Inicio).ToString("yyyy-MM-dd") class="form-control">
                        @Html.ValidationMessageFor(model => model.fecha_Inicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="width:40%">
            <fieldset style="padding-left:10px; ">
                <legend>@Html.DisplayNameFor(Model => Model.fecha)</legend>
                <div class="form-group">
                    <div class="col-md-10 borde-inferior">
                        <input type="date" id="fecha" name="Fecha" value=@Convert.ToDateTime(Model.fecha).ToString("yyyy-MM-dd") class="form-control">
                        @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div  style="display:flex;justify-content:space-between; width:60%;">
        <div style="width:40%">
            <fieldset style="padding-left:10px">
                <legend>@Html.DisplayNameFor(Model => Model.calificacion)</legend>
                <div class="form-group">
                    <div class="col-md-3 borde-inferior">
                        <input type="number" id="calificacion" name="calificacion" min="0" max="10" value="@Model.calificacion" class="form-control" style="max-width:200px">
                        @Html.ValidationMessageFor(model => model.calificacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            </div>
            <div style="width:40%">
                <fieldset style="padding-left:10px">
                    <legend>@Html.DisplayNameFor(Model => Model.paginas)</legend>
                    <div class="form-group">
                        <div class="col-md-3 borde-inferior">
                            <input type="number" id="paginas" name="paginas" min="0" max="1999" value="@Model.paginas" class="form-control" style="max-width:200px">
                            @Html.ValidationMessageFor(model => model.paginas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>
            <fieldset style="padding-left:10px">
                <legend>@Html.DisplayNameFor(Model => Model.comentario)</legend>
                <div class="form-group">
                    <div class="borde-inferior" style="padding-left:10px; width:90%">
                        @*<input type="text" id="comentario" name="comentario" value="" class="form-control" style="width:100%" />*@
                        @Html.EditorFor(Model => Model.comentario, new { htmlAttributes = new { style = "width:100%" }, })
                        @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>


            <fieldset style="padding-left:10px">
                <legend>@Html.DisplayNameFor(Model => Model.Ebook)</legend>
                <div class="form-group">
                    <div class="col-md-10 borde-inferior" style="padding-left:40px">
                        <div class="checkbox">
                            @*<input type="checkbox" id="EBook" name="EBook" style = "width:40px; height:40px" />*@
                            @Html.EditorFor(model => model.Ebook, new { htmlAttributes = new { style = " width: 40px; height: 40px; " } })
                            @Html.ValidationMessageFor(model => model.Ebook, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>


            @*<div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Ebook)
                @Html.ValidationMessageFor(model => model.Ebook, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group" style="padding:20px">
                <div class="col-md-10">
                    <input type="submit" value="Crear Nueva Lectura" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
