@model Bib2.Models.DataPaginador<Bib2.Models.Lecturas>
@{
    ViewBag.Title = "ListaLecturas2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model List<Bib2.Models.Lecturas>*@
<h2>Lista de Lecturas</h2>
<div id="Principal" style="">
    <div id="ListaLecturas" align="center">
        <table id="tLecturas" style="width:90%; border:thin" align="center">
            <tr>
                <th style="width:30.00%">@Html.DisplayNameFor(model => model.Input.titulo)</th>
                <th style="width:20.00%">@Html.DisplayNameFor(model => model.Input.autor)</th>
                <th style="width:10.00%">@Html.DisplayNameFor(model => model.Input.fecha)</th>
                <th style="width:35.00%">@Html.DisplayNameFor(model => model.Input.comentario)</th>
                <th style="width:05.00%">@Html.DisplayNameFor(model => model.Input.Ebook)</th>

            </tr>
            @foreach (Bib2.Models.Lecturas lectura in Model.List)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => lectura.titulo)</td>
                    <td>@Html.DisplayFor(modelItem => lectura.autor)</td>
                    <td>
                        @*@Html.DisplayFor(modelItem => lectura.fecha)*@
                        @Convert.ToDateTime(lectura.fecha).ToString("dd/MM/yyyy")
                    </td>
                    <td>@Html.DisplayFor(modelItem => lectura.comentario)</td>
                    <td>@Html.DisplayFor(modelItem => lectura.Ebook)</td>
                </tr>
            }
        </table>
        <div>
            <br />
            Resultados @Html.Raw(Model.Pagi_info)
            <br /><br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>
    <p>
        @Html.ActionLink("Volver", "index")
    </p>
</div>